.select {
  position: relative;
}

.builtin-select {
  background: var(--options-field-bg, var(--black));
  border-radius: 4px;
  font: inherit;
  padding: 7px 0;
  padding-right: 25px;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--options-field-border, transparent);
  color: var(--options-fg, #fff);
  width: 100%;
}

.arrow {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--options-fg, #fff);
  width: 10px;
  pointer-events: none;
}

.large {
  padding: 10px 35px 10px 10px;
  background: var(--dark-gray);

  & .arrow {
    right: 13px;
  }
}
